<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="e-Banking_V1">
    <listeners>
        <listener class-name="Utilities.Reporting"/>
    </listeners>
    <test verbose="2" name="BankingApp Test">
        <parameter name="browser" value="firefox"/>
        <classes>
             <class name="TC.TC_LoginTest_001"/>
            <class name="TC.TC_LoginDDT_002"/>
            <class name="TC.TC_AddCustomerTest_003"/>
        </classes>
    </test>
</suite>